@import url(dawgverse/style.css);

@font-face {
	font-family: 'Atari System';
	src: url('atarist8x16systemfont/atarist8x16systemfont-webfont.eot');
	src: url('atarist8x16systemfont/atarist8x16systemfont-webfont.eot?#iefix') format('embedded-opentype'),
		url('atarist8x16systemfont/atarist8x16systemfont-webfont.woff2') format('woff2'),
		url('atarist8x16systemfont/atarist8x16systemfont-webfont.woff') format('woff'),
		url('atarist8x16systemfont/atarist8x16systemfont-webfont.ttf') format('truetype'),
		url('atarist8x16systemfont/atarist8x16systemfont-webfont.svg#atari_st_8x16_system_fontMd') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nokia Cellphone';
	src: url('nokiafc22/nokiafc22-webfont.eot');
	src: url('nokiafc22/nokiafc22-webfont.eot?#iefix') format('embedded-opentype'),
		url('nokiafc22/nokiafc22-webfont.woff2') format('woff2'),
		url('nokiafc22/nokiafc22-webfont.woff') format('woff'),
		url('nokiafc22/nokiafc22-webfont.ttf') format('truetype'),
		url('nokiafc22/nokiafc22-webfont.svg#nokia_cellphone_fcsmall') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Pixel';
	src: url('computer_pixel-7/computer_pixel-7-webfont.eot');
	src: url('computer_pixel-7/computer_pixel-7-webfont.eot?#iefix') format('embedded-opentype'),
		url('computer_pixel-7/computer_pixel-7-webfont.woff2') format('woff2'),
		url('computer_pixel-7/computer_pixel-7-webfont.woff') format('woff'),
		url('computer_pixel-7/computer_pixel-7-webfont.ttf') format('truetype'),
		url('computer_pixel-7/computer_pixel-7-webfont.svg#computer_pixel-7regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Perfect DOS';
	src: url('perfect_dos_vga_437/perfect_dos_vga_437-webfont.eot');
	src: url('perfect_dos_vga_437/perfect_dos_vga_437-webfont.eot?#iefix') format('embedded-opentype'),
		url('perfect_dos_vga_437/perfect_dos_vga_437-webfont.woff2') format('woff2'),
		url('perfect_dos_vga_437/perfect_dos_vga_437-webfont.woff') format('woff'),
		url('perfect_dos_vga_437/perfect_dos_vga_437-webfont.ttf') format('truetype'),
		url('perfect_dos_vga_437/perfect_dos_vga_437-webfont.svg#perfect_dos_vga_437regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Romulus';
	src: url('romulus/romulus-webfont.eot');
	src: url('romulus/romulus-webfont.eot?#iefix') format('embedded-opentype'),
		url('romulus/romulus-webfont.woff2') format('woff2'),
		url('romulus/romulus-webfont.woff') format('woff'),
		url('romulus/romulus-webfont.ttf') format('truetype'),
		url('romulus/romulus-webfont.svg#romulusmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: '5 Pixdeath';
	src: url('5pixdeath/5pixdeath-webfont.eot');
	src: url('5pixdeath/5pixdeath-webfont.eot?#iefix') format('embedded-opentype'),
		url('5pixdeath/5pixdeath-webfont.woff2') format('woff2'),
		url('5pixdeath/5pixdeath-webfont.woff') format('woff'),
		url('5pixdeath/5pixdeath-webfont.ttf') format('truetype'),
		url('5pixdeath/5pixdeath-webfont.svg#5pixdeathregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: '04b03';
	src: url('04b03/04b03-webfont.eot');
	src: url('04b03/04b03-webfont.eot?#iefix') format('embedded-opentype'),
		url('04b03/04b03-webfont.woff2') format('woff2'),
		url('04b03/04b03-webfont.woff') format('woff'),
		url('04b03/04b03-webfont.ttf') format('truetype'),
		url('04b03/04b03-webfont.svg#04b03regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Volter Goldfish';
	src: url('volter__28goldfish_29/volter__28goldfish_29-webfont.eot');
	src: url('volter__28goldfish_29/volter__28goldfish_29-webfont.eot?#iefix') format('embedded-opentype'),
		url('volter__28goldfish_29/volter__28goldfish_29-webfont.woff2') format('woff2'),
		url('volter__28goldfish_29/volter__28goldfish_29-webfont.woff') format('woff'),
		url('volter__28goldfish_29/volter__28goldfish_29-webfont.ttf') format('truetype'),
		url('volter__28goldfish_29/volter__28goldfish_29-webfont.svg#volter_goldfishregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PixArrows';
	src: url('pixarrows/pixarrows-webfont.eot');
	src: url('pixarrows/pixarrows-webfont.eot?#iefix') format('embedded-opentype'),
		url('pixarrows/pixarrows-webfont.woff2') format('woff2'),
		url('pixarrows/pixarrows-webfont.woff') format('woff'),
		url('pixarrows/pixarrows-webfont.ttf') format('truetype'),
		url('pixarrows/pixarrows-webfont.svg#pixarrowsregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Generated using Font Squirrel (http://www.fontsquirrel.com) */