.controls.flex-row
	// svg.graph => singular only element (first chosen) => dag render target
	div.flex
		svg(
			viewBox="0 0 200 200",
			height="100%",
			width="100%",
			preserveAspectRatio="xMidYMid"
		).graph

	.editor.flex.flex-col
		select.dots
		textarea.source
		textarea.output

button.toggle Show/hide
