.controls.flex-row
	// svg.graph => singular only element (first chosen) => dag render target
	div.flex
		svg(
			viewBox="0 0 200 200",
			height="100%",
			width="100%",
			preserveAspectRatio="xMidYMid"
		).graph

	.editor.flex.flex-col
		input(list="dot", name="dots", value="New Behaviour").dots
		datalist#dot
		textarea.source
		textarea.output
		.actions.flex-row
			button.apply.flex Apply
			button.reset.flex Reset

button.toggle Show/hide
