@import "./core";
@import "./flex";

// Debug Tool
.behaviour {
  &.hide {
    pointer-events: none;
    .toggle {
      pointer-events: all;
    }
  }

  .toggle {
    height: 3em;
  }

  .absolute-expand;
  .flex-col;
  justify-content: flex-end;

  .controls {
    flex-grow: 1;
  }

  .graph {
    position: absolute;
  }

  .editor {
    select {
      font-size: 1em;
    }
    textarea {
      font-size: 0.75em;
      tab-size: 2;
      font-family: monospace;
      white-space: nowrap;
    }
    .source {
      flex-grow: 1;
    }
    .output {
      flex-grow: 0.5;
      background-color: grey;
      color: salmon;
    }
  }
}


// DAG
text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node {
  rect, circle, ellipse {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
  }
}

.edgePath path {
  stroke: hsv(90, 1, 1);
  stroke-width: 1.5px;
}

.cluster rect {
  stroke: #333;
  fill: #000;
  fill-opacity: 0.1;
  stroke-width: 1.5px;
}