@import url(https://i.icomoon.io/public/188ac2dd2d/DAWG/style.css);

body {
	background: #181818;
	color: #ccc;
	font-family: monospace;
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 1;
}









.glyph {
	font-family: dawgverse;
	line-height: 1;
	-webkit-font-smoothing: none;
	letter-spacing: 0;
	padding: 0;
	word-wrap: break-word;
	word-break: break-all;
	margin: 0;
	padding: 0;
}

.game {
	position: relative;
	width: 100%;
	height: 100%;
}

.map {
	font-size: 16px;
	color: gray;
	
	&.other {
		color: red;
	}
	
	&.faded {
		opacity: 0.25;
	}
	
	position: absolute;
	cursor: crosshair;
}

.keys {
	position: absolute;
	right: 0;
	top: 0;
	
	.down {
		color: chartreuse;
	}

	ul& {
		.inline-list
	}
}

.minimap {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2px;
}






// tools?
.inline-list {
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		list-style: none;
		margin: 0.125em;
	}
}

.flex-row {
	display: flex;
}
